<section>
    <div class="accordion d-none d-md-block">
        <div *ngIf="isLoading" class="text-center my-5">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
        <ul>
            <li *ngFor="let slide of sliders">
                <div class="image_title text-truncate">{{ slide.name }}</div>
                <div class="overlay"></div>
                <img [src]="imgBaseURL + slide.slider_image" alt="Slider Image" />
            </li>
        </ul>
    </div>


    <ngb-carousel *ngIf="sliders && sliders.length" [interval]="5000" [wrap]="true" [keyboard]="true" [pauseOnHover]="true"
        [showNavigationIndicators]="false" class="d-md-none">
        <ng-template ngbSlide *ngFor="let slide of sliders; let i = index">
            <div class="picsum-img-wrapper">
                <img [src]="imgBaseURL + slide.slider_image" class="d-block w-100 slideImgResponsive" alt="Slider Image {{i + 1}}">
            </div>
            <div class="carousel-caption py-3">
                <h5 class="mb-0 fw-bold">{{ slide.name }}</h5>
            </div>
        </ng-template>
    </ngb-carousel>

</section>