<footer class="bg-dark-gradient footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-border-bottom pb-6 mb-sm-5">
                <div class="row">
                    <div class="col-lg-4 col-xl-3 mb-sm-4 mb-lg-0">
                        <h5 class="text-white fw-semibold">
                            Subscribe to Get Latest Updates
                        </h5>
                    </div>
                    <div class="col-lg-4 col-xl-6">
                        <form class="d-flex flex-row mb-2 p-1 bg-white input-group">
                            <input type="email" class="form-control rounded-0 border-0 shadow-none" placeholder="pctravelsonline@gmail.com" disabled>
                            <button class="btn btn-dark rounded-0 flex-shrink-0" type="submit" disabled>Subscribe</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="text-lg-end text-white">
                            <span class="h6">Call Us On</span><br>
                            <a href="tel:+91 98269 53206" class="h3">+91 98269 53206</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    <div class="mb-4">
                        <img src="assets/images/logoWhite.png" width="200" title="Footer Logo" alt="">
                    </div>
                    <div class="text-white-65 mb-4 text-white">
                        Your Dream Destinations, Our Expert Planning – PC Travel.
                    </div>
                    <div class="nav footer-socila-icon">
                        <a href="https://www.facebook.com/pctravlesonline">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://wa.me/919826953206" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://t.me/pc_travels">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a href="mailto:pctravelsonline@gmail.com">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 my-2 my-sm-4">
                    <h5 class="text-white h6 mb-2 mb-sm-4">Customer</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <!-- <li>
                            <a href="#">Get Corpo</a>
                        </li> -->
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Documentation</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'contact'">Help center</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'services'">Pricing</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'contact'">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-2 my-sm-4">
                    <h5 class="text-white h6 mb-2 mb-sm-4">Product</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Portfolio</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Blog</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Join our team</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'contact'">Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-2 my-sm-4">
                    <h5 class="text-white h6 mb-2 mb-sm-4">Company</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'about'">About</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Careers</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Legal &amp; Security</a>
                        </li>
                        <li>
                            <a (click)="scrollToTop();" [routerLink]="'.'">Terms of use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-2 my-sm-4">
                    <h5 class="text-white h6 mb-2 mb-sm-4">Our Customers Feedback</h5>
                    <div class="white-link customerReviews">
                        <div class="d-flex align-items-top pb-3">
                            <div class="avatar avatar-lg rounded">
                                <img src="assets/images/satisfaction.png" class="img-fluid rounded-1" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <p class="fw-semibold mb-0">Farhan Khan</p>
                                <h6 class="m-0">
                                    Wonderful Umrah Experience with PC Travels!...
                                </h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-top">
                            <div class="avatar avatar-lg rounded">
                                <img src="assets/images/satisfaction.png" class="img-fluid rounded-1" title="" alt="">
                            </div>
                            <div class="col ps-3">
                                <p class="fw-semibold mb-0">Matin Khan</p>
                                <h6 class="m-0">
                                    I recently had the privilege of performing Umrah with PC Travels...
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center">
            <p class="m-0 copyrightText">© {{ currentYear }} copyright PC Travels All Rights Reserved.</p>
        </div>
    </div>
</footer>