.footer {
    .footer-socila-icon {
        a {
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: var(--primary-color);
            color: #ffffff;
            border-radius: 50%;
            margin-right: 8px;
            font-size: 15px;

            &:hover {
                background: #1baaa0;
            }
        }
    }

    .footer-links {
        margin: 0;

        li+li {
            padding-top: 10px;
        }

        li {
            a {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 0px;
                    left: auto;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    transition: ease all 0.35s;
                    background: var(--primary-color);
                }

                &:hover:after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }

    .footer-top {
        padding-top: 1rem;
        padding-bottom: 1rem;

        h5,
        .h5 {
            position: relative;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }

    .footer-border-top {
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        &.dark {
            border-top: 1px solid rgba(16, 16, 16, 0.1);
        }
    }

    .footer-border-bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &.dark {
            border-bottom: 1px solid rgba(16, 16, 16, 0.1);
        }
    }
}

.bg-dark-gradient {
    background: linear-gradient(180deg, #0198d0 50%, #174a7f 100%) repeat-x !important;
}

.white-link {
    a {
        color: rgba(255, 255, 255, 0.65);
    }
}

a {
    text-decoration: none;
}

.copyrightText {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.customerReviews {
    p {
        color: rgb(255 255 255 / 89%);
    }

    h6 {
        color: rgb(255 255 255 / 71%);
        font-size: 14px;
        line-height: 1.5;
        font-weight: normal;
    }
}

.avatar-lg {
    img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 768px) {
    .footer {
        .footer-top {
            padding-top: 2rem;
            padding-bottom: 1rem;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        .footer-top {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
    }
}