<section>
    <div class="container">
        <div class="card mb-4 rounded-1 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center text-md-start mb-3 mb-md-0">
                        <h3 class="mb-0 fw-bold themColor">Country Visa</h3>
                    </div>
                    <div class="col-md-6 text-center text-sm-end">
                        <button type="button" class="btn btn-primary themeButton btn-lg rounded-1"
                            (click)="openAddCountryModal()">
                            <i class="fa-solid fa-plus"></i>
                            Add New Country
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12" *ngFor="let item of groupedData">
                <div class="card mb-3 rounded-1 shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 fw-bold themColor">{{ item.country }}</h5>
                        <button class="btn btn-sm btn-outline-success rounded-1" (click)="openAddVisaModal(item.country)">
                            <i class="fa-solid fa-plus"></i> Add {{ item.country }} Visa
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 border-end">
                                <p class="mb-0 text-muted">Processing Time: </p>
                                <h6>From {{ item.processing_time }} Days</h6>
                            </div>
                            <div class="col-6">
                                <p class="mb-0 text-muted">Starting From Price: </p>
                                <h6>₹{{ item.starting_from_price }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted border-bottom bg-light">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-sm btn-outline-primary rounded-1"
                                (click)="openEditCountryModal(item.id)">
                                <i class="fa-solid fa-pen"></i> Edit
                            </button>
                            <button class="btn btn-sm btn-outline-success rounded-1" (click)="openVisaDocumentsModal(item.country)">
                                <i class="fa-solid fa-plus"></i> Add Visa Documents
                            </button>
                            <!-- <button class="btn btn-sm btn-outline-danger rounded-1" (click)="deleteCountry(item.id)">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button> -->
                        </div>
                    </div>
                    <!-- Show related visas -->
                    <div *ngFor="let visa of item.visas">
                        <div class="card-header d-flex align-items-center border-top bg-light rounded-0">
                            <h5 class="mb-0 fw-bold themColor">{{ visa.visa_type }} Visa</h5>
                            <p class="text-muted mb-0 ms-1" style="font-size: 14px;">( {{ visa.country }} )</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <th>Processing Time</th>
                                        <td>{{ visa.processing_time }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stay Period</th>
                                        <td>{{ visa.stay_period }}</td>
                                    </tr>
                                    <tr>
                                        <th>Validity</th>
                                        <td>{{ visa.validity }}</td>
                                    </tr>
                                    <tr>
                                        <th>Entry</th>
                                        <td>{{ visa.entry }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fees</th>
                                        <td>₹{{ visa.fees }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-sm btn-outline-primary rounded-1" (click)="openEditVisaModal(visa.id)">
                                                    <i class="fa-solid fa-pen"></i> Edit
                                                </button>
                                                <button class="btn btn-sm btn-outline-danger rounded-1" (click)="deleteVisa(visa.id)">
                                                    <i class="fa-solid fa-trash"></i> Delete
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Visa Documents -->
                    <!-- Visa Documents using ngbAccordion -->
                    <div class="card-body border-top bg-light" *ngIf="visaDocumentsGrouped[item.country]?.length">
                        <h6 class="fw-bold mb-2">Documents Required for {{ item.country }}</h6>
                    
                        <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel *ngFor="let doc of visaDocumentsGrouped[item.country]; let i = index" id="doc-{{ i }}">
                                <ng-template ngbPanelTitle>
                                    <span class="fw-semibold themColor">{{ doc.visa_document }} - {{ item.country }}</span>
                                </ng-template>
                    
                                <ng-template ngbPanelContent>
                                    <div class="mb-3 d-flex justify-content-end">
                                        <button class="btn btn-sm btn-outline-primary me-2" (click)="editVisaDocument(doc.id)">
                                            <i class="fa fa-pen"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger" (click)="deleteVisaDocument(doc.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                    
                                    <ul class="list-group mb-3">
                                        <ng-container *ngFor="let i of [].constructor(40); let idx = index">
                                            <li class="list-group-item py-1 px-2" *ngIf="doc['doc_' + (idx + 1)]">
                                                <i class="fa fa-file-alt text-secondary me-2"></i>
                                                {{ doc['doc_' + (idx + 1)] }}
                                            </li>
                                        </ng-container>
                                    </ul>
                    
                    
                                    <p class="mb-1">
                                        <strong>Notes:</strong>
                                        <span>{{ doc.notes }}</span>
                                    </p>
                                    <p class="mb-0">
                                        <strong>Description:</strong>
                                        <span>{{ doc.description }}</span>
                                    </p>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Delete Confirm Modal -->
<ng-template #confirmDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger">
            <i class="fa-solid fa-triangle-exclamation me-2"></i> Confirm Deletion
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this country?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteCountry(modal)">Delete</button>
    </div>
</ng-template>


<!-- Add Country Modal -->
<ng-template #confirmDeleteVisa let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger">
            <i class="fa-solid fa-triangle-exclamation me-2"></i> Confirm Deletion
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this visa?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteVisaMod(modal)">Delete</button>
    </div>
</ng-template>

<!-- Add Visa Document Modal -->
<ng-template #confirmDeleteVisaDocument1 let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger">
            <i class="fa-solid fa-triangle-exclamation me-2"></i> Confirm Deletion
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this visa document?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteVisaDocument(modal)">Delete</button>
    </div>
</ng-template>