<section class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <h2 class="mb-4 fw-semibold">{{ data?.name }}</h2>
                <p class="lh3">
                    {{ data?.description }}
                </p>
                <button type="button" class="btn btn-primary themeButton rounded-1 shadow-sm" [routerLink]="'/transportationDetails'" (click)="scrollToTop();">
                    View Transportation Details
                </button>
            </div>
            <div class="col-12 col-md-6">
                <img [src]="imgBaseURL + data?.transport_image_1" *ngIf="data?.transport_image_1" class="img-thumbnail shadow-sm w-100 h-100" alt="Transport Image" />
                <img [src]="imgBaseURL + data?.transport_image_2" *ngIf="data?.transport_image_2" class="img-thumbnail shadow-sm w-100 h-100" alt="Transport Image" />
                <!-- <img src="assets/images/public-transport.jpg" alt="Left Image" class="img-thumbnail shadow-sm w-100 h-100 mb-2"> -->
            </div>
        </div>
    </div>
</section>