<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-sm-1">
                <img  [src]="imgBaseURL + data?.work_visa_image" *ngIf="data?.work_visa_image" class="img-thumbnail shadow" alt="">
            </div>
            <div class="col-md-6 order-1 order-sm-2 align-self-center">
                <h2 class="mb-4 fw-semibold">{{ data?.name }}</h2>
                <p class="lh3">
                    {{ data?.description }}
                </p>
            </div>
        </div>
    </div>
</section>