<section>
    <div class="parallax-container d-flex align-items-center justify-content-center position-relative" 
     *ngIf="data?.parallax_image"
    [ngStyle]="{ 'background-image': 'url(' +imgBaseURL + data.parallax_image + ')'}">
        <div class="overlay position-absolute"></div>
        <div class="content position-relative text-center text-white">
            <h1 class="fw-bold mb-4">{{ data?.title }}</h1>
            <p>{{ data?.description1 }}</p>
            <p>{{ data?.description2 }}</p>
            <!-- <button>Get Started</button> -->
        </div>
    </div>
</section>