.parallax-container {
    height: 80vh;
    background-image: url('/assets/images/paralexBG.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    /* blue with opacity */
    z-index: 1;
}

.content {
    z-index: 2;
    width: 50%;

    @media (max-width: 768px) {
        width: 90%;
    }
}