<section class="py-5">
    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="mb-3 mb-sm-5 text-center">
                <h2>Get in Touch – Let’s Start Your Journey Together!</h2>
                <div class="getInTouch"></div>
                <p>
                    Have any questions or need help planning your next trip? We’re just a message away! Whether you're
                    looking for the perfect holiday package, adventure travel, luxury escapes, or even corporate travel
                    solutions — our team is ready to make your dream trip a reality. At PC-Travels , we believe every
                    journey should be more than just a trip — it should be an unforgettable experience. And it all
                    starts with a simple conversation.
                    Feel free to reach out to us anytime. We’d love to hear from you!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5 mb-sm-0">
                    <div class="card shadow-sm rounded-1">
                        <div class="card-body">
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="name" class="mb-1">Name</label>
                                        <input formControlName="name" type="text" class="form-control rounded-1 shadow-none"
                                            placeholder="Enter Name">
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label for="email" class="mb-1">Email</label>
                                        <input formControlName="email" type="email" class="form-control rounded-1 shadow-none"
                                            placeholder="Enter Email">
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label for="subject" class="mb-1">Subject</label>
                                        <input formControlName="subject" type="text" class="form-control rounded-1 shadow-none"
                                            placeholder="Enter Subject">
                                    </div>
        
                                    <div class="col-md-6 mb-3">
                                        <label for="phone_number" class="mb-1">Phone Number</label>
                                        <input formControlName="phone_number" type="text"
                                            class="form-control rounded-1 shadow-none" placeholder="Enter Phone Number">
                                    </div>
        
                                    <div class="col-md-12 mb-3">
                                        <label for="message" class="mb-1">Message</label>
                                        <textarea formControlName="message" rows="6" class="form-control rounded-1 shadow-none"
                                            placeholder="Enter Your Message"></textarea>
                                    </div>
        
                                    <div class="col-md-12 text-center">
                                        <button [disabled]="isSubmitting || contactForm.invalid"
                                            class="btn btn-primary themeButton w-100 rounded-1 py-2" type="submit">
                                            {{ isSubmitting ? 'Submitting...' : 'Send Message' }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card shadow-sm rounded-1 h-100">
                        <div class="card-body">
                            <!-- <h4 class="mb-2">Contact Information</h4>
                            <p class="mb-4">
                                We are here to assist you with any inquiries or concerns you may have. Feel free to reach
                                out to us through the following contact details:
                            </p> -->
                            <div class="single_address d-flex mb-4">
                                <div>
                                    <i class="fa-solid fa-location-dot me-3"></i>
                                </div>
                                <div>
                                    <h4>Our Address</h4>
                                    <p class="mb-0">
                                        Plot 1-B, behind Bharat Gas Godown, Wanjara Layout, Pili Nadi, Nagpur, Maharashtra
                                        440026
                                    </p>
                                </div>
                            </div>
                            <div class="single_address d-flex mb-4">
                                <div>
                                    <i class="fa fa-envelope me-3"></i>
                                </div>
                                <div>
                                    <h4>Send your message</h4>
                                    <a href="mailto:pctravelsonline@gmail.com" class="nav-link">
                                        pctravelsonline&#64;gmail.com
                                    </a>
                                </div>
                            </div>
                            <div class="single_address d-flex mb-4">
                                <div>
                                    <i class="fa fa-phone me-3"></i>
                                </div>
                                <div>
                                    <h4>Call us on</h4>
                                    <p>
                                        <a href="tel:+91 98269 53206" class="nav-link">+91 98269 53206</a>
                                    </p>
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="agent" class="mb-2">Talk our partner near you</label>
                                <select class="form-select rounded-1 shadow-none" [(ngModel)]="selectedArea"
                                    (change)="onAreaChange(selectedArea)">
                                    <option value="" selected>Select Area</option>
                                    <option *ngFor="let area of agentAreas" [value]="area">{{ area }}</option>
                                </select>
                            </div>
                            <div *ngIf="selectedArea">
                                <div *ngFor="let pack of filteredPackages">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-md-4 ps-2 ps-sm-0">
                                                    <div class="text-center border-end">
                                                        <img [src]="pack.agent_photo ? imgBaseURL + pack.agent_photo : 'assets/images/user.png'"
                                                            class="rounded-2 img-thumbnail shadow-sm agentPhoto mb-1"
                                                            alt="Agent Photo" />
                                                        <p class="text-muted mb-0 fw-semibold">
                                                            {{ pack.agent_area }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div>
                                                        <h6 class="fw-bold mb-2 text-muted">
                                                            <i class="fa-solid fa-user me-1"></i>
                                                            {{ pack.agent_name }}
                                                        </h6>
        
                                                        <p class="text-muted mb-2 fw-medium">
                                                            <i class="fa-solid fa-phone me-1"></i>
                                                            <a [href]="'tel:' + pack.agent_number"
                                                                class="text-decoration-none text-primary">
                                                                {{ pack.agent_number }}
                                                            </a>
                                                        </p>
        
                                                        <p class="text-muted fw-medium mb-2">
                                                            <i class="fa-solid fa-envelope me-1"></i>
                                                            <a [href]="'mailto:' + pack.agent_email"
                                                                class="text-decoration-none text-primary">
                                                                {{ pack.agent_email }}
                                                            </a>
                                                        </p>
        
                                                        <p class="text-muted fw-medium mb-0">
                                                            <i class="fa-solid fa-location-dot me-1"></i>
                                                            {{ pack.agent_address }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedArea && filteredPackages.length === 0" class="mt-3 text-danger">
                                No agents found in this area.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Toast Message -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200">
    <ngb-toast *ngIf="toast.show" [class.bg-success]="toast.type === 'success'"
        [class.bg-danger]="toast.type === 'error'" [autohide]="true" [delay]="3000" (hidden)="toast.show = false"
        class="text-white">
        {{ toast.message }}
    </ngb-toast>
</div>