<div class="modal-header">
    <h5 class="modal-title fw-bold">{{ modalTitle }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<form [formGroup]="blockForm" (ngSubmit)="onSubmit()" class="overflow-y-auto" enctype="multipart/form-data">
    <div class="modal-body">
        <div formArrayName="blocks">
            <div [formGroupName]="0" class="mb-3">
                <div class="row">

                    <!-- Airline -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Airline</label>
                        <div formArrayName="airline">
                            <div *ngFor="let ctrl of getFieldControls('airline').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success" (click)="addField('airline')"
                                    [disabled]="getFieldControls('airline').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger" (click)="removeField('airline', i)"
                                    *ngIf="getFieldControls('airline').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Flight Number -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Flight Number</label>
                        <div formArrayName="flight_number">
                            <div *ngFor="let ctrl of getFieldControls('flight_number').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success"
                                    (click)="addField('flight_number')"
                                    [disabled]="getFieldControls('flight_number').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('flight_number', i)"
                                    *ngIf="getFieldControls('flight_number').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- From Date -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">From Date</label>
                        <div formArrayName="from_date">
                            <div *ngFor="let ctrl of getFieldControls('from_date').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="date" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success" (click)="addField('from_date')"
                                    [disabled]="getFieldControls('from_date').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('from_date', i)"
                                    *ngIf="getFieldControls('from_date').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Departure -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Departure</label>
                        <div formArrayName="departure">
                            <div *ngFor="let ctrl of getFieldControls('departure').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success" (click)="addField('departure')"
                                    [disabled]="getFieldControls('departure').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('departure', i)"
                                    *ngIf="getFieldControls('departure').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Departure Time -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Departure Time</label>
                        <div formArrayName="departure_time">
                            <div *ngFor="let ctrl of getFieldControls('departure_time').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success"
                                    (click)="addField('departure_time')"
                                    [disabled]="getFieldControls('departure_time').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('departure_time', i)"
                                    *ngIf="getFieldControls('departure_time').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Destination</label>
                        <div formArrayName="destination">
                            <div *ngFor="let ctrl of getFieldControls('destination').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success" (click)="addField('destination')"
                                    [disabled]="getFieldControls('destination').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('destination', i)"
                                    *ngIf="getFieldControls('destination').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Destination Time -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Destination Time</label>
                        <div formArrayName="destination_time">
                            <div *ngFor="let ctrl of getFieldControls('destination_time').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="text" formControlName="value" class="form-control rounded-1 shadow-none rounded-end-0" />
                                <button type="button" class="btn btn-outline-success"
                                    (click)="addField('destination_time')"
                                    [disabled]="getFieldControls('destination_time').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('destination_time', i)"
                                    *ngIf="getFieldControls('destination_time').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Airline Logo -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-semibold">Airline Logo</label>
                        <div formArrayName="airline_image">
                            <div *ngFor="let ctrl of getFieldControls('airline_image').controls; let i = index"
                                [formGroupName]="i" class="input-group mb-2">
                                <input type="file" class="form-control rounded-1 shadow-none" accept="imag rounded-end-0e/*" (change)="onImageSelect($event, i)" />
                                <button type="button" class="btn btn-outline-success"
                                    (click)="addField('airline_image')"
                                    [disabled]="getFieldControls('airline_image').length >= 4">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeField('airline_image', i)"
                                    *ngIf="getFieldControls('airline_image').length > 1">
                                    <i class="fa fa-times"></i>
                                </button>
                                <div *ngIf="imgBaseURL + imagePreviews[i]" class="mt-1">
                                    <img [src]="imgBaseURL + imagePreviews[i]" alt="Preview" width="35" height="35" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="isSubmitting">
            {{ isSubmitting ? 'Saving...' : (blockId ? 'Update' : 'Save') }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    </div>
</form>

<!-- Toast -->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1055;" *ngIf="toastMessage">
    <div class="toast show text-white bg-{{ toastType }} border-0">
        <div class="d-flex">
            <div class="toast-body">{{ toastMessage }}</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="toastMessage = null"></button>
        </div>
    </div>
</div>