.card {
    border: 1px solid #eff0f2;
}

.avatar-md {
    height: 50px;
    width: 50px;
}

.three-line-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &.expanded {
        -webkit-line-clamp: unset;
        display: block;
    }
}

.animated-message {
    max-height: 4.5em; // approx 3 lines
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    position: relative;

    &.expanded {
        max-height: 1000px; // enough for most messages
    }
}

.cursor-pointer {
    cursor: pointer;
}

.flex-1 {
    flex: 1;
    min-width: 0;
}