.visaDetails {
    @media (max-width: 768px) {
        .visaType {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            div {
                width: 50%;
            }
        }
    }
}